<!-- categories.hbs-->
<!-- 
//Authors: Su Youn Jeon and Xinrui Hou
// Citation for the following code is modified from the template Github repository for CS 340:
//https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/ (Code & comments were copied)
// Date: Nov, 15th, 2023
-->

<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>
    <script src="./assets/js/color-modes.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content='IE=edge'>
    <title>Group 110</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .card-image-container {
        position: relative;
        overflow: hidden;
        padding-bottom: 66.67%; /* Maintain a 3:2 aspect ratio (adjust as needed) */
      }
      .card-image-container img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    </style>

    
  </head>
  <body>    
    <header data-bs-theme="dark">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="index">ExpressMart</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="index">Home</a>
              <a class="nav-link" href="products">Products</a>
              <a class="nav-link active" href="categories">Categories</a>
              <a class="nav-link" href="customers">Customers</a>
              <a class="nav-link" href="employees">Employees</a>
              <a class="nav-link" href="transactions">Transactions</a>
              <a class="nav-link" href="itemsInTransaction">Transaction Details</a>
            </div>
          </div>
        </div>
      </nav>
    </header>
<script src="js/scripts_categories.js"></script> 


<button id="insert_category_btn">+ New Category</button>

<!-- INSERT -->
<section id="insert_category_form" class="hidden_form">
    <h2>Add New Category</h2>
    <form action="/add-category" method="POST">
        <label for="categoryName">Category Name:</label>
        <input
        type="text"
        id="categoryName"
        name="categoryName"
        maxlength="225"
        required
        />
        <button type="submit">Submit</button>
        <button type="button" id="insert_category_cancel">Cancel</button>
    </form>
</section>

<!-- UPDATE -->
<section id="update_category_form" class="hidden_form">
    <h2>Update Category</h2>
    <p style="font-size: 1em; color: #333; margin-bottom: 20px;">
        You can access an UPDATE by clicking a specific "✎" from the below table.
    </p>

    <form action="/update-category" method="POST">
      <label for="updateCategoryID">ID:</label>
      <input
        type="text"
        id="updateCategoryID"
        name="updateCategoryID"
        readonly
      />
      <label for="updateCategoryName">Category Name:</label> {{!-- an update based on peer review 5--}}
     <input
        type="text"
        id="updateCategoryName"
        name="updateCategoryName"
        maxlength="225"
        required
     />
       
      <button type="submit">Update</button>
      <button type="button" id="update_category_cancel">Cancel</button>
    </form>
  </section>
  
<!-- SELECT -->
<table id="categories-table">

    <thead>

        {{!-- Table headers --}}
        <tr>
            <th>Category ID</th>
            <th>Category Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>

        {{#each data}}
        <tr 
        data-value={{this.categoryID}} 
        data-category-name="{{this.categoryName}}" 
        >
            <td>{{this.categoryID}}</td>
            <td>{{this.categoryName}}</td>
            <td class="edit_icon">✎</td>
            <td class="delete_category_icon">🗑</td>
        </tr>
        {{/each}}
    </tbody>
</table>
