<html>
  <head>
    <title>Transaction Details</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link href="./assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <script language="JavaScript">
        function showform(dowhat) {
            /*
            * four DIVS: browse, insert, update, delete
            * this function sets one visible the others not
            */
            if (dowhat == 'insert'){
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'block';
                document.getElementById('update').style.display = 'none';
                document.getElementById('delete').style.display = 'none';
            }
            else if (dowhat == 'update'){
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('update').style.display = 'block';
                document.getElementById('delete').style.display = 'none';
            }
            else if (dowhat == 'delete'){
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('update').style.display = 'none';
                document.getElementById('delete').style.display = 'block';
            }
            else if (dowhat == 'all'){
                document.getElementById('browse').style.display = 'block';
                document.getElementById('insert').style.display = 'block';
                document.getElementById('update').style.display = 'block';
                document.getElementById('delete').style.display = 'block';
            }
            else { //by default display browse
                document.getElementById('browse').style.display = 'block';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('update').style.display = 'none';
                document.getElementById('delete').style.display = 'none';
            }
            }
        function newItemsInTransaction() { showform('insert'); }
        function updateItemsInTransaction(pid) { showform('update'); }
        function deleteItemsInTransaction(pid) { showform ('delete'); }
        function browseItemsInTransaction() { showform ('browse'); }
        function showAll() { showform ('all'); }
    </script>
  </head>

  <body onload="browseItemsInTransaction()">
    <header data-bs-theme="dark">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">ExpressMart</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="index">Home</a>
              <a class="nav-link" href="products">Products</a>
              <a class="nav-link" href="categories">Categories</a>
              <a class="nav-link" href="customers">Customers</a>
              <a class="nav-link" href="employees">Employees</a>
              <a class="nav-link" href="transactions">Transactions</a>
              <a class="nav-link active" href="itemsInTransaction">Transaction Details</a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <section class="py-5 text-center header-container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Transaction Details</Details></h1>
          </div>
        </div>
      </section>
      <div id="browse">
        <table border="1" cellpadding="5">
          <tr>
            <th><a href="#" onClick="newItemsInTransaction()">New</a></th>
            <th></th>
            <th>Item ID</th>
            <th>Transaction ID</th>
            <th>Product ID</th>
            <th>Quentity</th>
            <th>Amount</th>
          </tr>
          <tr>
            <td><a href="#" onClick="updateItemsInTransaction('this.transactionID')">Edit</a></td>
            <td><a href="#" onclick="deleteItemsInTransaction('this.transactionID')">Delete</a></td>
            <td align="center">1</td>
            <td>1</td>
            <td>1</td>
            <td>5</td>
            <td>3.50</td>
          </tr>
          <tr>
            <td><a href="#" onClick="updateItemsInTransaction('this.transactionID')">Edit</a></td>
            <td><a href="#" onclick="deleteItemsInTransaction('this.transactionID')">Delete</a></td>
            <td align="center">2</td>
            <td>1</td>
            <td>4</td>
            <td>3</td>
            <td>1.20</td>
          </tr>
          <tr>
            <td><a href="#" onClick="updateItemsInTransaction('this.transactionID')">Edit</a></td>
            <td><a href="#" onclick="deleteItemsInTransaction('this.transactionID')">Delete</a></td>
            <td align="center">3</td>
            <td>2</td>
            <td>3</td>
            <td>1</td>
            <td>1.20</td>
          </tr>
          <tr>
            <td><a href="#" onClick="updateItemsInTransaction('this.transactionID')">Edit</a></td>
            <td><a href="#" onclick="deleteItemsInTransaction('this.transactionID')">Delete</a></td>
            <td align="center">4</td>
            <td>2</td>
            <td>4</td>
            <td>6</td>
            <td>1.80</td>
          </tr>
          <tr>
            <td><a href="#" onClick="updateItemsInTransaction('this.transactionID')">Edit</a></td>
            <td><a href="#" onclick="deleteItemsInTransaction('this.transactionID')">Delete</a></td>
            <td align="center">5</td>
            <td>3</td>
            <td>9</td>
            <td>2</td>
            <td>5.00</td>
          </tr>
          <tr>
            <td><a href="#" onClick="updateItemsInTransaction('this.transactionID')">Edit</a></td>
            <td><a href="#" onclick="deleteItemsInTransaction('this.transactionID')">Delete</a></td>
            <td align="center">6</td>
            <td>4</td>
            <td>7</td>
            <td>10</td>
            <td>16.00</td>
          </tr>
          <tr>
            <td><a href="#" onClick="updateItemsInTransaction('this.transactionID')">Edit</a></td>
            <td><a href="#" onclick="deleteItemsInTransaction('this.transactionID')">Delete</a></td>
            <td align="center">7</td>
            <td>4</td>
            <td>9</td>
            <td>10</td>
            <td>25.00</td>
          </tr>
        </table>
        <p>&nbsp;</p>
      </div>
      <!-- browse -->
      <p><a href="#" onClick="showAll()">Display all forms</a> </p>
  
      <!-- add new detail -->
      <div id="insert" style="display: block">
          <form id="addTransactionDetail">
            <legend><strong>Add Transaction Detail</strong></legend>
            <fieldset class="fields">
    
              <label for="transactionID">Transaction ID</label>
              <input type="text" id="transactionID" name="transactionID" />
    
              <label for="productID">Product ID</label>
              <input type="text" id="productID" name="productID" />
    
              <label for="quentity">Quentity</label>
              <input type="text" id="quentity" name="quentity" />

              <label for="amount">Amount</label>
              <input type="text" id="amount" name="amount" />
            </fieldset>
            <input class="btn btn-outline-secondary"type="submit" id="submitTransactionDetail" value="Submit Transaction Detail"/>
            <input class="btn btn-outline-secondary" type="button" value="Cancel" onClick="browseItemsInTransaction()"/>
          </form>
        </div> 
      <p>&nbsp;</p>
      <!-- update -->
      <div id="update" style="display: block">
        <form id="updateOrder">
          <legend><strong>Update Transaction Detail</strong></legend>
          <fieldset class="fields">
            <label for="itemID">Item ID</label>
            <select id="itemID" name="itemID">
              <option value="Null">Null</option>
              <option value="1">1</option>
            </select>
    
            <label for="productID">Product ID</label>
            <input type="text" id="productID" name="productID" value = "1"/>
    
            <label for="quentity">Quantity</label>
            <input type="text" id="quentity" name="quentity" value = "5"/>

            <label for="amount">Amount</label>
            <input type="text" id="amount" name="amount" value = "3.50"/>
          </fieldset>
          <input class="btn btn-outline-secondary" type="submit" id="UpdateTransactionDetail" value="Save Update Transaction Detail"/>
          <input class="btn btn-outline-secondary" type="button" value="cancel" onClick="browseItemsInTransaction()"/>
        </form>
      </div>
      <!-- delete -->
      <p>&nbsp;</p>
      <div id="delete" style="display: block">
        <form id="deleteOrder">
          <legend><strong>Delete Item in Transaction</strong></legend>
          <fieldset class="fields">
            <p>Are you sure you wish to delete the following?</p>
            <label>Item Order ID:</label> 5 <label> 
          </fieldset>
          <input class="btn btn-outline-secondary" type="submit" id="DeleteTransactionDetail" value="Delete Transaction Detail"/>
          <input class="btn btn-outline-secondary" type="button" value="cancel" onClick="browseItemsInTransaction()"/>
        </form>
      </div>
    </main>
  
    </body>
  </html>